@font-face { 
    font-family: 'YoungSerif-Regular';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
} 
@font-face { 
    font-family: 'Outfit-Regular';
    src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
} 
@font-face { 
    font-family: 'Outfit-SemiBold';
    src: url('./assets/fonts/static/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}    
@font-face { 
    font-family: 'Outfit-Bold';
    src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
} 

:root {
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  --young-serif: 'YoungSerif-Regular', serif;
  --outfit-regular: 'Outfit-Regular', serif;
  --outfit-semibold: 'Outfit-SemiBold', serif;
  --outfit-bold: 'Outfit-Bold', serif;

  font-size: 16px;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--stone-100);
  font-family: 'Outfit-Regular', serif;
  color: var(--stone-600);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
    width: fit-content;
    max-width: 640px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.image {
    max-width: 640px;
}
.image img {
    width: 100%;
    object-fit: contain;
}

.container-content {
    width: fit-content;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 2rem;
    padding: 2rem 0;
    gap: 1.5rem;
    border-bottom: 1px solid var(--stone-150);
}

.container-header {
    width: fit-content;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 2rem;
    padding-top: 2rem;
    gap: 1.5rem;
}

.container-header > .prepare {
    width: 100%;
    background-color: var(--rose-50);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: .5rem;
    padding: 2rem;
}

.container-header > .prepare > h2 {
    font-family: 'Outfit-Bold', serif;
    color: var(--rose-800);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.container-header > .prepare > ul {
    padding: 0 2.5rem;
}

h1 {
    color: var(--stone-900);
    font-family: 'YoungSerif-Regular', serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
}
h2 {
    font-family: 'YoungSerif-Regular', serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--brown-800);
}
p {
    font-family: 'Outfit-Regular', serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--stone-600);
}
ul, ol {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Outfit-Regular', serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--brown-800);
    padding: 0 1.5rem;
    gap: 1rem;
}

li {
    padding-left: .5rem;
}

span {
    font-weight: 600;
}

table {
    width: 100%;
}
td {
    border-bottom: 1px solid var(--stone-150);
    padding: 1rem 1.5rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.no-border {
    border: none;
}
.text-color-brown-bold {
    color: var(--brown-800);
    font-weight: 700;
}

.attribution {  
    font-size: 1rem;
    text-align: center;
    padding: 2rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
    .container {
        border-radius: 2rem;
        padding: 2.5rem;
        margin: clamp(1rem, 10vw, 7.5rem) 0;
    }
    .image img {
        border-radius: 1rem;
    }
    .container-content {
        margin: 0;
    }

}